@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --secondary: #9CA3AF;
  --filler: #F1F1EF;
  --primary: #000000;
  --primary-foreground: #ffffff;
  --secondary-foreground: #000000;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --ring: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-filler: var(--filler);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-ring: var(--ring);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
